
<footer class="footer">
    <div class="footer-left">
    
         <div class="container">
           <div class="row">
             
             <div class="footer-col">
               <h4>Popular Products</h4>
               <ul>
                 <li><a routerLink="/loans"><i class="fa-solid fa-hand-holding-dollar"></i>  Home Loan</a></li>
                 <li><a routerLink="/cust-ser/cards"><i class="fa-solid fa-credit-card"></i>  Credit cards</a></li>
                 <li><a routerLink="/cust-ser/acc"><i class="fa-solid fa-file-invoice-dollar"></i>  Savings Account</a></li>
                 <li><a routerLink="/accounts"><i class="fa-solid fa-receipt"></i>  Transactions</a></li>
                 
               </ul>
             </div>
             <div class="footer-col">
               <h4>Contact us</h4>
               <ul>
                 <li><a routerLink="/landing"> <span class="fa fa-bank"></span> laxmifunds.com</a></li>
                 <li style="cursor: pointer;"> <span class="fa fa-phone" ></span> +91-7710027183</li>
                 
               </ul>
             </div>
             <div class="footer-col">
               <h4>Quick links</h4>
               <ul>
                 <li><a routerLink="/reg-form"><i class="fa-solid fa-address-card"></i>  Register</a></li>
                 <li><a routerLink="/accounts"><i class="fa-solid fa-file-invoice-dollar"></i>  Accounts</a></li>
                 <li><a routerLink="/cust-ser"><i class="fa-solid fa-clipboard-question"></i>  FAQ'S</a></li>
               </ul>
             </div>
             <div class="footer-col">
               <h4>Connect with Us</h4>
               <div class="social-links">
                 <a href="https://protect-eu.mimecast.com/s/Y6WLCJPvnhy2WEyHV5fk-?domain=facebook.com"><i class="fa fa-home"></i></a>
                 <a href="https://protect-eu.mimecast.com/s/gYF0CK6wou9Yy59tvPw2k?domain=twitter.com"><i class="fa fa-twitter"></i></a>
                 <a href="https://protect-eu.mimecast.com/s/1mS7CLPxphXgDnXUPjQ9R?domain=instagram.com"><i class="fa fa-instagram"></i></a>
                 <a href="https://protect-eu.mimecast.com/s/47B8CM9yqU9Ly49tWWAqG?domain=linkedin.com"><i class="fa fa-linkedin"></i></a>
                                                                                         
                                                                            
               </div>
              
             </div>
           </div>
         </div>
      
    
  
    
    
  
  
  
  
  
            
  