<!-- <div style=" text-align: center; background-color:rgb(88, 118, 175); ">
ddd
</div> -->

<!-- <div class="row">
    <div class="col p-4 d-flex align-items-center justify-content-center" >
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Single Account</h5>
              <h6 class="card-subtitle mb-2 text-muted">Srinath Nanduri</h6>
              <p class="card-text">Balance : 52120</p>
            </div>
        </div>    
    </div>


</div>
<div class="row">
    <div class="col p-2 d-flex align-items-center justify-content-center" >
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Joint Account</h5>
              <h6 class="card-subtitle mb-2 text-muted">Srinath | Srinidhi</h6>
              <p class="card-text">Balance : 22120</p>
            </div>
          </div>    
    </div>
    
</div>

 -->


 
<div *ngIf="f1=='true'; else elseBlock">
 <div class="row" >
    <div class="col p-2 d-flex align-items-center justify-content-center" >
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Account No. : {{acc.ano}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Held by: {{user}} </h6>
              <!-- <p class="card-text">Account type : {{p.atype}}</p> -->
              <p class="card-text">Balance : {{acc.abal}} </p>
            </div>
          </div>    
    </div>
    
</div>
<!--

<div class="row">
  <div class="col p-2 d-flex align-items-center justify-content-center" >
      <div class="card">
          <div class="card-body" (click)="yopush()" data-bs-toggle="modal" data-bs-target="#exampleModal" style="justify-content: center; align-items: center; display: flex;">
            <div style="font-size: 80px; background-color: bisque; border-radius: 50%; height: 100px; width: 100px; text-align: center; display: flex; align-items: center; justify-content: center;">+</div>
          </div>
        </div>    
  </div>
  
</div>

 -->




 



<div class="container mx-auto mt-5">
  <table class="table table-striped" style="background-color: rgb(163, 202, 219);">
      <thead>
        <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Withdraw</th>
          <th scope="col">Deposit</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of trans">
          <!-- <th scope="row">{{t.id}}</th> -->
          <td> {{t.tdate}} </td>
          <td> {{t.ttime}} </td>
          <td> {{t.twithdraw}} </td>
          <td> {{t.tdeposit}} </td>
          <td> {{t.tbalance}} </td>
        </tr>
        
      </tbody>
    </table>
</div>
</div>


<ng-template #elseBlock>
  <!-- <p>No Access</p> -->
  {{no_val()}}
</ng-template>





<!-- ****************    FOOTER    **************** -->

<br>
<br>
<br>
<app-footer></app-footer>




