<div *ngIf="f1=='true'; else elseBlock">



<div *ngIf="f2=='true'; else elseblo"> 
 <div class="row" >
    <div class="col p-2 d-flex align-items-center justify-content-center" >
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Account No. : {{acc.ano}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Held by: {{temp}} </h6>
              <!-- <p class="card-text">Account type : {{p.atype}}</p> -->
              <p class="card-text">Balance : {{acc.abal}} </p>
            </div>
          </div>    
    </div>
    
</div> 



<div class="container mx-auto mt-5">
  <table class="table table-striped" style="background-color: rgb(163, 202, 219);">
      <thead>
        <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Withdraw</th>
          <th scope="col">Deposit</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of trans">
          <!-- <th scope="row">{{t.id}}</th> -->
          <td> {{t.tdate}} </td>
          <td> {{t.ttime}} </td>
          <td> {{t.twithdraw}} </td>
          <td> {{t.tdeposit}} </td>
          <td> {{t.tbalance}} </td>
        </tr>
        
      </tbody>
    </table>




</div>


    <!-- Button trigger modal -->
<!-- <div class="mx-auto" style="width: fit-content;">
<button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Pay
</button>
</div> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #logForm="ngForm" (ngSubmit)="submit(logForm)" novalidate>
          Account No. : <input class="input" type="text" name="raccno" ngModel required #user="ngModel" autocomplete="off"> 
          
          <br><br>
          Amount : <input name="pay" class="input" type="text" ngModel>
      
          <br><br>
          Pin : <input name="pin" class="input" type="text" ngModel>
          
           <br><br>
          <button class="btn btn-primary">Submit</button> 
        </form>
      </div>
    </div>
  </div>
</div> -->



</div>

<ng-template #elseblo>

  <form #logForm="ngForm" (ngSubmit)="submit(logForm)" novalidate>
    Pin : <input class="input" type="text" name="pin" ngModel required #user="ngModel" autocomplete="off"> 
    
    <br><br>
    Add Funds : <input name="funds" class="input" type="text" ngModel>
    
     <br><br>
    <button class="btn btn-primary">Submit</button> 
  </form>

</ng-template>






</div>




<ng-template #elseBlock>
  <!-- <p>No Access</p> -->
  {{no_val()}}
</ng-template>





<!-- ****************    FOOTER    **************** -->

<br>
<br>
<br>
<app-footer></app-footer>




