<div class="testbox">
  <form action="/" #issForm="ngForm" (ngSubmit)="submit(issForm)">
    <h4>Bank Customer Feedback Form</h4>
    <div class="item">
      <p>Type of feedback</p>
      <select ngModel name="type">
            <!-- <option value=""></option> -->
            <option value="Enquiry">Enquiry</option>
            <option value="Complaint">Complaint</option>
            <option value="Compliement">Compliement</option>
            <option value="Suggestion">Suggestion</option>
      </select>
    </div>

    <div class="item">
      <p> Name</p>
      <input type="text" name="name" ngModel required/>
    </div>
    <div class="item">
        <p>Email</p>
        <input type="text" name="email" ngModel required/>
    </div>
   

    <div class="item">
      <p>Contact Number</p>
      <input type="text" name="mobile" ngModel/>
    </div>
    <div class="item">
      <p>Staff who served me</p>
      <input type="text" name="staff" ngModel/>
    </div>


    <div class="item">
      <p>Branch Visited</p>
      <input type="text" name="branch" ngModel/>
    </div>

    <div class="item">
      <p>Feedback</p>
      <textarea rows="5" ngModel name="desc" ></textarea>
    </div>
    <div class="btn-block">
      <button type="submit" href="/">Send Feedback</button>
    </div>
  </form>
</div>