<section class="mx-auto">
    <div class="container">
        <div class="header">Profile</div>
        <div class="profile-content">
            <h3>Name</h3> 
            <h4></h4> email,
            <h4></h4>Customer ID
        </div>
        
        <div class="card-details">
            <hr>
            <div class="header">Card Details</div>
            <div class="edit-stuff">
                <h5>Change Card Limit</h5><img src="./assets/editbutton.png" class="img" alt="" (click)="toggleDisplay()">
                <div [hidden]="showDiv" class="hidden">
                    <br>
                    <p>Hello</p>
                </div>
            </div>
            <div class="edit-stuff">
                <h5>Set PIN</h5> <img src="./assets/editbutton.png" class="img" alt="">
            </div>
            <div class="edit-stuff">
                <h5>Block Card</h5> <img src="./assets/editbutton.png" class="img" alt="">
            </div>
            <hr>
        </div>
       
        <div class="header">Security</div>
        <div class="Security">
            <div class="edit-stuff">
                <h5>Change Password</h5> <img src="./assets/editbutton.png" class="img" alt="">
            </div>
            <div class="edit-stuff">
                <h5>Change Email</h5> <img src="./assets/editbutton.png" class="img" alt="">
            </div>
            <div class="edit-stuff">
                <h5>Change Mobile Number</h5> <img src="./assets/editbutton.png" class="img" alt="">
            </div>
          
         
        </div>
        <hr>
    <div>
    <button class="btn btn-danger" (click)="logout()" style="cursor: pointer;">Logout</button>
    
    </div>
    </div>
</section>


<!-- ****************    FOOTER    **************** -->

<br>
<br>
<br>
<!-- <app-footer></app-footer> -->