<section class="mx-auto" *ngIf="f1=='true'; else elseBlock">
    <div class="container">
        <div class="header">Profile</div>
        <div class="profile-content">
            <h3> {{name}} </h3> 
            <h5>{{email}},</h5> 
            <h5>Customer ID - {{id}}</h5>
        </div>
        
        <div class="card-details">
            <hr>
            <div class="header">Card Details</div>
            <div class="edit-stuff">
                <h5>Change Card Limit</h5><img src="./assets/editbutton.png" class="img" id='' alt="" (click)="toggleDisplay(0)">
                <div [hidden]="showDiv[0]" class="hidden">
                    
                    <p>Current Limit : </p>
                    <form [formGroup]="limitForm">
                     
                    <p> Confirm PIN :
                        <input type="password" formControlName="PIN">
                        </p>
                    <p>New Limit :
                    <input type="range" id="range" min=1000 max=50000 step="1000" formControlName="newLimit">
                    {{limitForm.get('newLimit')?.value}}
                    </p>
                    
                    <button
                    class="btn button-1 btn-sm" 
                    name="submit" 
                    type="submit" 
                    [disabled]="limitForm.invalid"
                    (click)='changeLimitSubmit()'
                    >
                        Submit
                    </button>
                    </form>
                </div>
            </div>
            <div class="edit-stuff">
                <h5>Set PIN</h5> <img src="./assets/editbutton.png" class="img" alt="" (click)="toggleDisplay(1)">
                <div [hidden]="showDiv[1]" class="hidden">
                    <form [formGroup]="setPin">
                    <p>Enter PIN : 
                        <input type="password" formControlName="currPin">
                    </p>
                    <p>
                    New PIN :
                    <input type="password" formControlName="newPin">
                    </p>
                    
                    <button
                    class="btn button-1 btn-sm float-end" 
                    name="submit" 
                    type="submit" 
                    [disabled]="setPin.invalid"
                    (click)='changePinSubmit()'
                    >
                        Submit
                    </button>
                    </form>
                </div>
            </div>
            <div class="edit-stuff">
                <h5>Block/Unblock Card</h5> <img src="./assets/editbutton.png" class="img" alt="" (click)="toggleDisplay(2)">
                <div [hidden]="showDiv[2]" class="hidden">
                    <form [formGroup]="blockCard">
                        <p>Enter PIN : 
                            <input type="password" formControlName="currPin">
                        </p>
                        <button
                    class="btn button-1 btn-sm float-end" 
                    name="submit" 
                    type="submit" 
                    [disabled]="blockCard.invalid"
                    (click)='changeStatusSubmit()'
                    >
                        Submit
                    </button>

                    </form>
                </div>
            </div>
            <hr>
        </div>
       
        <div class="header">Security</div>
        <div class="Security">
            <div class="edit-stuff">
                <h5>Change Password</h5> <img src="./assets/editbutton.png" class="img" alt=""
                (click)="toggleDisplay(3)"
                >
                <div [hidden]="showDiv[3]" class="hidden">
                    <form [formGroup]="changePass">
                    <p>Current Password : <input type="password" formControlName="currPass">
                    </p>
                    <p>
                    Set New Password : <input type="password" formControlName="newPass">
                    </p>
                    
                    <button
                    class="btn button-1 btn-sm float-end" 
                    name="submit" 
                    type="submit" 
                    [disabled]="changePass.invalid"
                    (click)='changePassSubmit()'
                    >
                        Submit
                    </button>
                    </form>
                </div>
            </div>
            <div class="edit-stuff">
                <h5>Change Email</h5> <img src="./assets/editbutton.png" class="img" alt="" (click)='toggleDisplay(4)'>
                <div [hidden]="showDiv[4]" class="hidden">
                    <form [formGroup]="changeEmail">
                    <p>Current Email Address : 
                        <input type="email" formControlName="currEmail">
                    </p>
                    <p>
                    Set New Email Address :
                    <input type="email" formControlName="newEmail">
                    </p>
                    
                    <button
                    class="btn button-1 btn-sm float-end" 
                    name="submit" 
                    type="submit" 
                    [disabled]="changeEmail.invalid"
                    (click)='changeEmailSubmit()'
                    >
                        Submit
                    </button>
                    </form>
                </div>
            </div>
            <div class="edit-stuff">
                <h5>Change Mobile Number</h5> <img src="./assets/editbutton.png" class="img" alt="" (click)="toggleDisplay(5)">
                <div [hidden]="showDiv[5]" class="hidden">
                    <form [formGroup]="changeMobile">
                    <p>Current Mobile Number : 
                        <input type="text" formControlName="currMobile">
                    </p>
                    <p>
                    New Mobile Number :
                    <input type="text" formControlName="newMobile">
                    </p>
                    
                    <button
                    class="btn button-1 btn-sm float-end" 
                    name="submit" 
                    type="submit" 
                    [disabled]="changeMobile.invalid"
                    (click)='changeMobileSubmit()'
                    >
                        Submit
                    </button>
                    </form>
                </div>
            </div>
          
         
        </div>
        <hr>
    <div>
    <button class="btn btn-danger button" (click)="logout()" style="cursor: pointer;">Logout</button>
    
    </div>
    </div>
    
</section>
<div class="pad"></div>
<div class="pad"></div>


<ng-template #elseBlock>
    <!-- <p>No Access</p> -->
    {{no_val()}}
  </ng-template>

<!-- ****************    FOOTER    **************** -->

<br>
<br>
<br>
<!-- <app-footer></app-footer> -->