<section class="mx-auto">
    <div class="container">
        <div class="header">Enter details to start your journey now!</div>
        <hr>
        <form [formGroup]="aadharForm">
            <div class="row">
                <div class="col-md gy-2">
                    <input
                        type="text"
                        class="form-control"
                        name="mobile" 
                        placeholder="Mobile Number registered with Aadhaar" 
                        formControlName="mobile"
                    />
                    <!-- <div *ngIf="aadharForm.get('mobile')?.invalid && (aadharForm.get('mobile')?.dirty || aadharForm.get('mobile')?.touched)"
                    class="alert alert-danger">
                    </div>
                    <div *ngIf="aadharForm.get('mobile')?.errors?.['required']">
                        Mobile is required.
                    </div> -->
                </div>
                <div class="col-md gy-2">
                    <input   
                        type="email" 
                        class="form-control"
                        name="email" 
                        placeholder="Email address"
                        formControlName="email"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md gy-2">
                    <input
                        type="text" 
                        class="form-control" 
                        name="PAN" 
                        placeholder="Permanent Account Number(PAN)"
                        formControlName="PAN"
                        
                    >
                </div>
                <div class="col-md gy-2">
                    <input
                        type="text" 
                        class="form-control" 
                        name="Aadhar" 
                        placeholder="12-digit Aadhaar number" 
                        formControlName="Aadhar"
                    >
                </div>
            </div>
            <div>
            <button 
                class="btn button btn-sm me-5 float-end" 
                name="submit" 
                type="submit" 
                [disabled]="aadharForm.invalid"
                (click)="verifyAadhar()"
                >
                Verify Aadhaar
            </button>
            <div *ngIf="isVerified" class="verMessage float-end">
                Aadhar Verified Successfully!
            </div>
            <div *ngIf="showVerificationError" class="verMessage float-end">
                Aadhar Verification Unsuccessful.
            </div>
            
            </div>   
    
        </form>
        <div class="hidden" [hidden]="!isVerified">

        <div class="header small-pad">Please enter your <strong> personal & professional details</strong> </div>
        <hr>
    <form [formGroup]="regForm">
         <div class="row">
                <div class="col-md gy-2">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="First Name"
                        formControlName="fname"
                        [(ngModel)]='customer1.cfname'
                        >
                </div>
                <div class="col-md gy-2">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Last Name"
                        formControlName="lname"
                        [(ngModel)]='customer1.clname'
                        >
                </div>
            </div>
            <div class="row">
                <div class="col-md gy-2">
                    <input 
                        type="date" 
                        class="form-control" 
                        placeholder="Date Of Birth"
                        formControlName="dob"
                        [(ngModel)]='customer1.cdob'
                        >
                </div>
                <div class="col-md gy-2">
                    <select
                    
                    type='select'
                    class="form-select" 
                    formControlName="gender"
                    
                    >
                        <option value="" disabled selected hidden>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                </select>
                </div>
                <div class="col-md gy-2">
                    <select
                           
                           type='select'
                           class="form-select" 
                           formControlName="state"
                           >
                               <option value="" disabled selected hidden>State</option>
                               <option value="1">Karnatka</option>
                               <option value="2">Maharashtra</option>
                               <option value="3">Telangana</option>
                               <option value="4">Tamil Nadu</option>
                       </select>
   
                   </div>
            </div> 
            <div class="row">
                <div class="col-md gy-2">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Gross annual income in ₹"
                        formControlName="annualIncome"
                        [(ngModel)]='customer1.cgrossincome'
                        >
                </div>
                <div class="col-md gy-2">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Company Name/Business Name"
                        formControlName="companybusinessName"
                        [(ngModel)]='customer1.cplaceofwork'
                        >
                </div>
            </div>
            <div class="row">
                <div class="col-md gy-2">
                    <select
                        name="occupation"
                        type='select'
                        class="form-select" 
                        formControlName="occupation"
                        [(ngModel)]='customer1.coccupation'
                        >
                            <option value="" disabled selected hidden>Occupation</option>
                            <option value="Service">Service</option>
                            <option value="Business">Business</option>
                            <option value="Self">Self</option>
                    </select>
                </div>
                <div class="col-md gy-2">
                    <select 
                        name="SOI" 
                        class="form-select" 
                        type='select'
                        formControlName="SOI"
                        [(ngModel)]='customer1.csoi'
                        >
                        <option value="" disabled selected hidden>Source of Income</option>
                        <option value="Salaried">Salaried</option>
                        <option value="Business">Business</option>
                        <option value="None">None</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md gy-2">
                    <input 
                        type="password" 
                        class="form-control" 
                        placeholder="Create Password"
                        formControlName="createPass"
                        >
                </div>
                <div class="col-md gy-2">
                    <input 
                        type="password" 
                        class="form-control" 
                        placeholder="Confirm Password"
                        formControlName="confirmPass"
                        [(ngModel)]= 'customer1.cpass'
                        >
                </div>
            </div>
            <div class="header">Disclaimer</div>
        
            <hr>
            <div class="disclaimer-content">
                <p>
                    I confirm that I am not a politically exposed person nor related to one (required as per RBI guideline). For any change, I will visit the nearest branch and update my details.
                </p>
            </div>
            
            <div class="disclaimer-content">
                <p>
                    I confirm that I am an Indian citizen, born in India and a tax resident of India (required as per RBI guideline). For any change, I will visit the nearest branch and update my details.
                </p>
            </div>
            
            <div class="disclaimer-content">
                <p>
                    <input 
                        type="checkbox" 
                        name="termsandCond" 
                        formControlName="termsAndCond"> 
                            I accept all <a href="" routerLink='/pnf'>Terms and Conditions</a> related to Laxmi Funds Bank.
                </p>
            </div>
            
            <button
                class="btn button-2 btn-md me-5 float-end" 
                name="submit" 
                type="submit" 
                [disabled]="regForm.invalid"
                (click)="onSubmit()"
                >
                
                    Proceed to Open Account
            </button>
        </form>
    </div>
            
        <div class="hidden" [hidden] = '!isRegistered'>
        <form [formGroup]="accForm">
            <div class="header small-pad"> Last Step ! Select type of <strong>product</strong></div>
            <hr>
                <div class="row">
                    <div class="col-md gy-2">
                        <input 
                        class="form-check-input position-static left-radio" 
                        type="radio" 
                        name="accType"  
                        value="25,000" 
                        formControlName="accType"
                        >
                            <p class="radiotext">₹25,000 Savings Account</p>
                    </div>
                    <div class="col-md gy-2">
                    <input 
                        class="form-check-input position-static right-radio" 
                        type="radio" 
                        name="accType" 
                        value="10,000" 
                        formControlName="accType"
                        >
                            <p class="radiotext">₹10,000 Savings Account</p>
                    </div>
                </div>
                <button
                class="btn button-2 btn-md me-5 float-end" 
                name="submit" 
                type="submit" 
                [disabled]="accForm.invalid"
                
                >
                    Open Account !
            </button>
        </form>
        </div> 
        
       
        
    <div class="pad"></div>
    </div>
    <div class="pad"></div>
    



</section>